@charset "UTF-8";


/*创建新专辑的错误提示*/

#intro{	color:#ccc;	padding-top:3px; padding-left:3px;}
div.d-mask{	opacity:0.6;	filter:Alpha(Opacity=0.7);	background:white;}
/*搜索
.search_form{ width:165px; height:22px;	line-height:22px; padding-left:6px; margin-top:8px; background-color:#ddd; border:0; -webkit-border-radius: 3px;}
.search_li{	height:40px; padding:0 12px 0 12px;	border-left:#efefef 1px solid; border-right:#efefef 1px solid;}
/*头部登录注册外框右浮
.login_regi_outer{	width:320px;	height:40px;	display:block;	float:right;	text-align:right;}
/*头部结束*/

/*首页轮番图
.index_turn_outer{	margin:5px 0 40px 0;	width:100%;}
.index_turn{	width:970px;	margin:0 auto;	padding:0;}
*/




/*喜欢图片上的提示*/
.like_add, .like_self {	background-color:#ff41e2; border:#FFFFFF 1px solid; font-size:12px;	padding:4px 5px; position: absolute; top:50%; left:50%;	color:#FFF;	font-weight:bold;}
.like_add01, .like_self01 {	background-color:#1ba400; filter: alpha(opacity=45); opacity:0.70;	border:#FFFFFF 1px solid;	font-size:12px;	padding:4px 5px;	position: absolute; top:50%; right:40%;
	color:#FFFFFF; font-weight:bold;}
.like_add02, .like_self02 {	background-color:#000; filter: alpha(opacity=45); opacity:0.70;	border:#FFFFFF 1px solid; font-size:12px;	padding:4px 7px; position: absolute; top:50%; right:40%;
	color:#FFF;	font-weight:bold;}
.like_self { background: none repeat scroll 0 0 #78C4E7; color: #FFF; margin-left: -60px;}
.append_msg{ position: absolute; background: none repeat scroll 0 0 #FF6699; border-radius: 4px 4px 4px 4px; color: #FFFFFF; font-size: 14px; margin-left: -30px; padding: 3px 5px;}
.detail_ifo_name, .detail_pic_name_top, .detail_pic_name_bottom {   /*会员名称*/	font-size:14px;	font-weight:normal;	color:#000000;}
.detail_ifo_name02, .detail_ifo_name02 a:link, .detail_ifo_name02 a:hover, .detail_ifo_name02 a:visited{ font-size:12px;	text-decoration:none; color:#008ed3; width:65%; margin-left:5px; line-height:22px;}
.detail_ifo_guanzhu{   /*会员名称*/	font-size:20px;	line-height:20px;	margin-top:6px;	font-weight:bold;	color:#000000;	width:30%;}
.like_and_retrit{	float:right;}
.detail_pic_name_top .H, .detail_pic_name_bottom .H{   /*会员名称*/	font-size:14px;	color:#000000;	font-weight:normal;}
.detail_pic_name_top{   /*详细信息页面图片名称*/	width:620px;;}
.detail_pic_name_bottom{   /*详细信息页面图片名称*/	float:left;}
.detail_pic_tu{   /*详细信息页面图片*/	width:670px;	text-align:center;	margin:5px 0;}
.detail_like{   /*详细信息页面喜欢按钮*/	margin:5px 3px 0 0;}
.detail_forward{   /*详细信息页面转发按钮*/	margin:5px 0 0 3px;}
.detail_dynamic_l{	background-image: url(../images/button/forward_l.jpg);	background-repeat: no-repeat;	width:26px;	height:26px;}
.detail_dynamic_m{  /*按钮中间转发数字背景*/	background-image: url(../images/button/like-m.jpg);	background-repeat: repeat;	padding:0 2px 0 0;	height:26px;	line-height:26px;}
.detail_like_data{  /*按钮中间转发数字*/	color:#907c69;	font-weight:bold;}
.detail_dynamic_r{	background-image: url(../images/button/like_r.jpg);	background-repeat: no-repeat;	width:6px;	height:26px;}
.detail_like_l{	background-image: url(../images/button/like_l.jpg);	background-repeat: no-repeat;	width:26px;	height:26px;}
.detail_row_r_ifoshare{    /*系统信息页面模块*/	width:250px;	border: 1px solid #dedede;	background: #FFFFFF;	margin-top:3px;}
.detail_row_r_ifo{    /*系统信息页面模块*/	width:250px;	margin-bottom:10px;}
.detail_avatar_bt{    /*关注按钮*/	display:block;	width:90%;	height:20px;	float:left;}
detail_avatar_bt02{    /*关注按钮*/	display:block;	width:61px;	height:22px;	line-height:20px;	margin-top:12px;	float:right;}
.detail_face{    /*表情*/	height:16px;	margin-top:5px;	margin-left:3px;	width:490px;	background-image: url(../images/icon/face.png);	background-repeat: no-repeat;}
.detail_face_word{    /*表情*/	line-height:18px;	padding-left:22px;}

 /*详细页面右侧在这买样式
.buy, a:link.buy, a.buy:hover, a.buy:visited  {	font-size:18px;	line-height:34px;	font-weight:bold;	color:#2e2e2e;	font:"宋体";!important	text-decoration:none;}
a.buy:hover, a.buy:visited  {	color:#009ae9;	text-decoration:none;}
a:link.buy {	text-decoration:none;}

*/



/*系统页面右列*/
#system_row_r{	width:272px;	margin:10px 0 0 20px;	padding:1px;	float:right;}
.system_row_intro{	width:210px;	display:block;	margin:15px 0 0 0;}
.system_row_r_ifo{    /*系统信息页面模块*/	width:270px;	height:340px;	margin-top:40px;	border: 1px solid #ebebeb;	background-image: url(../images/bg_normal.png);	background-repeat: repeat;}

/*个人主页样式
.m_all, .m_all a:link{	margin:6px; line-height:48px;	color:#272727;	text-decoration:none;}
.m_all a:hover{	margin:6px; line-height:48px;	color:#41aee0;	text-decoration:underline;}
*/

/*注册页面样式*/

/*转发样式*/
.zhuanfa_errer{	margin-bottom:16px;	display:block; font-size:14px;	font-weight:bold; color:#000000;}
.regi_bt{ width:70px; height:30px; display:block; float:left; margin-left:82px; margin-top:6px;	border:0; background-color:#FFF;}

/*标头样式*/
.share_title { font-size:14px;	font-weight:bold; color:#666666; line-height:36px; text-align:center; height:36px; float:left;	width:100%;}
.d-header{	width:200px; height:19px; background:white;}
/*文字分类样式*/

/*网站地址栏输入框*/
.tt_mark_type{ width: 255px; height:33px; display:block; padding-top:8px; padding-left:5px;}
.tt_mark_name{ padding:2px 2px;	background-color:#FFF; font-size:14px;}
.mark_type_input_new { width:150px; height:22px; line-height:22px; border:1px solid #c7c2c2;}

/*网站分享图片*/
.share_img img{	max-width:180px; max-height:180px;	}

/*选择框*/
.share_select{ float:right; width:390px; height:180px; clear:right;}

/*下拉选择框*/
.share_list{ width:260px; height:28px; line-height:28px; font-size:14px; display:block;	text-align:center; border:#c7c2c2 1px double; background-image:url(../images/bg_normal.png);	background-repeat: repeat;}

/*下拉选择浮动层框*/
#share_list_outer{ width:230px; height:100px; display:block; z-index:99;}
#share_list_outer font, #share_list_outer font a:link, #share_list_outer font a:hover, #share_list_outer font a:visited{ width:260px;	line-height:28px;	display:block;	font-size:14px;	text-indent:10px;	text-align:left;
	font-weight:normal;	background-color:#FFF;	text-decoration:none;}
#share_list_outer font a:hover{	background-color:#efefef;}

/*网页分享文本域bt*/

/*转发成功bt*/
.zhuanfa_but{ border:0; background-color:#ff4b61; font-size:12px; font-weight:bold; color:#fff;	-moz-border-radius:5px;	-webkit-border-radius:5px;	clear:left;	height:26px;	display:block;	padding:0 12px;
	margin-top:35px; cursor:pointer;}
.zhuanfa_div{ width:200px; margin:0 auto;}

/*本地上传样式*/
.web_sel_r{	width:400px; height:208px; float:right;}

/*单选按钮样式*/
.share_category_lable01 {	display:block;	float:left;	margin:0 6px 10px 8px;}

/*忘记密码样式*/
.forget_pw{background-color:#FFF; width:380px; height:200px; margin:0 auto; padding:20px; border:1px solid #CCC;}
.forget_pw_title{width:380px; text-align:center; font-weight:bold; font-size:16px;}
.forget_pw_sm{width:350px; padding:15px;}
.forget_pw_input{width:350px; padding:15px 15px 0px 15px; height:40px;}
.forget_pw_input label{font-size:14px; font-weight:bold; line-height:24px; display:block; float:left; margin-top:8px;}
.forget_pw_input input{border:1px solid #C7C2C2; height:24px; line-height:24px; padding-left:5px; width:160px; margin-left:15px; margin-right:5px; display:block; float:left;  margin-top:8px;}
.forget_pw_error_message{ padding-left:105px;}
.control-group{ margin:12px 0 8px 26px;}
.forget_bt{	border:0; background-color:white; margin-top:33px;}
.forget_mail{	font-size:12px;	background-color:white;	margin-top:18px;	padding-left:5px;	padding-right:5px;	line-height:22px;}
.forget_mail p{	width:100%; text-indent:2em; padding-left:3px;}
.forget_mail span, .forget_mail span a:link{ color:#FF6600; font-size:14px;}

/*首页左上角分类
.hometile_h1 { font-size:19px; line-height:32px; font-weight:normal; margin:6px 0 10px 5px;	color:#333; text-indent:0px; font-family:Arial, Helvetica, sans-serif;!important}*/
/*
.hometile_h5_pro {	font-size:16px;	font-weight:bold;	width:240px;	text-align:center;	color:#ff7fbf;}
专辑名称*/
/*
.hometile_more, a.hometile_more:link, a.hometile_more:hover, a.hometile_more:visited {
	padding:5px 15px;
	border:#dcdcdc 1px solid;
	background-color:#f8f8f8;
	margin-left:6px;
	color:#777;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	border-radois:2px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: all 0.1s ease-out;
}
a.hometile_more:hover{	border:#909090 1px solid;}

button.hometile_more01, buttona.hometile_more01:link, buttona.hometile_more01:hover, buttona.hometile_more01:visited {
	padding:5px 15px;
	border:#dcdcdc 1px solid;
	background-color:#f8f8f8;
	color:#777;
	font-size:14px;
	font-weight:normal;
	margin-left:3px;
	margin-bottom:5px;
	text-align:center;
	text-decoration:none;
	border-radois:2px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: all 0.1s ease-out;
}
buttona.hometile_more01:hover{ border:#909090 1px solid;}
.hometile_more_login, a.hometile_more_login:link, a.hometile_more_login:hover, a.hometile_more_login:visited {
	padding:6px 12px;
	border:#dcdcdc 1px solid;
	background-color:#f8f8f8;
	color:#777;
	font-size:14px;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	border-radois:2px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-webkit-transition: all 0.1s ease-out;
	
	background-image: -webkit-linear-gradient(top, white, #F4F4F4);
	background-image: -moz-linear-gradient(top, white, #F4F4F4);
	background-image: -ms-linear-gradient(top, white, #F4F4F4);
	background-image: -o-linear-gradient(top, white, #F4F4F4);
	background-image: linear-gradient(top, white, #F4F4F4);
}
a.hometile_more_login:hover{ border:#909090 1px solid;}

.hometile_dwarp h3{	width: 223px;	font-size:12px;	font-weight:bold;	line-height:40px;	color:#242424;	text-indent:12px;	border-top:#e9e9e9 1px double;}
.hometile_dwarp_li, a:link.hometile_dwarp_li, a:hover.hometile_dwarp_li { display:block; width:220px; border-bottom:#e8e8e8 1px double; font-size:12px; line-height:30px; height:30px; color:#676767;
 text-indent:12px; font-weight:normal;}
a:link.hometile_dwarp_li { text-decoration:none; border-bottom:#e8e8e8 0px double; text-indent:12px;}
a:hover.hometile_dwarp_li {	text-decoration:none; color:#008ed3; border-bottom:#e8e8e8 1px double; text-indent:12px; background-color:#F6F6F6;}
*/
/*个人发布的编辑删除*/
.tu_com_outer span{display:block; float:left; height:30px; line-height:30px; text-align:right;}
.tu_com_outer .edit_del, .edit_del a:link, .edit_del a:visited, .edit_del a:hover{width:40px; height:30px; font-size:12px; color:#777; text-decoration:none;line-height:30px; margin-right:8px; float:right;}
.edit_del a:hover{color:#ff4b61;}

.edit_del_r, .edit_del_r a:link, .edit_del_r a:visited, .edit_del_r a:hover{ padding:1px; font-size:12px; color:#777; text-decoration:none; float:right; line-height:30px;}
.edit_del_r a:hover{ color:#ff4b61;}

<!--创建图格样式-->
#tuge_outer input{ border:#DFDFDF 1px solid; width:160px; height:25px;}
#tuge_outer li, #tuge_outer li a:link, #tuge_outer li a:hover, #tuge_outer li a:visited{
	width:160px;
	height:32px;
	line-height:32px;
	font-size:14px;
	color:#777;
	text-indent:12px;
	display:block;
	clear:left;
	background-color:white;
	border-bottom:#F5F5F5 1px solid;
	text-decoration:none;
}

#tuge_outer li a:hover{ background-color:#F6F6F6; color:#0099FF;}








/*代码整合新样式*/



/*分享弹出层*/
#share_layer{ background-color:#FFFFFF;	width:630px; height:260px; border:0px #b2b2b2 solid;}
.share_sm{ background-color:#d2eeff; height:38px; color:#292929; font-size:14px; line-height:38px; text-indent:20px; border-bottom:#dfdfdf 1px solid;}
.share_cate_l, .share_cate_r{ width:186px; padding:16px 11px; float:left; text-align:center; height:140px; border-right:#dfdfdf 1px solid;}
.share_name_layer{ font-weight:bold; color:#ff4b61; font-size:18px;	padding-top:12px;}
.share_cate_r{ border:0;}

/*网页分享*/
#share_layer_web{width:650px; padding-bottom:6px; position:relative; border:0px #b2b2b2 solid;}
.share_label{width:650px; height:26px; line-height:30px; font-weight:bold; font-size:14px; margin-top:10px; position:relative;}
.share_label_link{width:240px; height:26px; float:left; text-align:center;}
.share_input{width:300px; height:26px; float:left;}
.mark_type_input{width:300px; height:24px; line-height:24px; padding-left:5px; border:1px solid #c7c2c2;}
.hometile_zhuaqu{width:65px; height:24px; line-height:24px; float:right; margin-right:25px; text-align:center; border:#dcdcdc 1px solid; background-color:#f8f8f8; font-size:14px; font-weight:normal;}
#share_layer_web .hometile_zhuaqu a:link, #share_layer_web .hometile_zhuaqu a:visited{color:#666; text-decoration:none;}
#share_layer_web .hometile_zhuaqu a:hover{color:#ff4b61; text-decoration:none;}

.share_label_selected, a.share_label_selected:link{ text-decoration:none; color:#000000; line-height:22px; font-weight:bold; font-size:14px;}
a.share_label_selected:hover{ color:#979797; text-decoration:none;}
a.share_label_selected:visited, a.share_label_selected:active{ text-decoration:none; color:#000000;}

.p_t{ margin-top:10px; margin-left:20px; width:94%; height:230px;}
.share_img_outer{ display:block; width:180px; height:auto; clear:both; padding:10px; text-align:center; float:left; position:relative; border:#CCC 1px solid; margin-bottom:30px;}
.share_face{ position:absolute; top:0; right:0px; z-index:60px; width:46px; height:22px; line-height:22px; text-align:center; color:#FFF; background-color:#FF9900;}
.share_face_web01{ position:absolute; top:80px; right:-15px; z-index:60px; width31px; height:40px; filter: alpha(opacity=45); opacity:0.90;}
.share_face_web02{ position:absolute; top:80px; left:-15px; z-index:60px; width31px; height:40px; filter: alpha(opacity=45); opacity:0.90;}
.loading_icon{ width:200px;	height:200px; background:url(../images/icon/loading_circle.gif) no-repeat left top;	position:absolute; left:25px; top:10px; display:none;}
.share_img{	display:block; width:180px; height:180px; text-align:center; }
/*上一页 下一页*/
.share_img_next, a.share_img_next:link{	color:#999;	font-size:14px;	display:block;	width:90px;	float:left;	margin-top:5px;	text-align:center;	display:none;}
.share_img_pre, a.share_img_pre:link{ color:#999; font-size:14px; display:block; width:90px; float:right; margin-top:5px; text-align:center;	display:none;}
/*右边选择框*/
.share_web_list{ float:left; width:360px; height:200px;	margin-left:20px;}
#tuge_outer{ width:386px; height:30px; position:relative;}
#album_outer_in{ z-index:1;}
.name_tuge{float:left; width:160px; height:27px; display:block; overflow:hidden; font-size:14px; line-height:25px; background-image:url(../images/button/select_normal.png); background-repeat:no-repeat;}
.name_tuge label{width:135px; display:block; text-align:center; text-decoration:none; cursor:pointer;}
.name_tuge a:link, .name_tuge a:visited{color:#000; display:block; width:160px; text-decoration:none;}
.name_tuge a:hover{background-image:url(../images/button/select_hover.png);}
.cate_zj{display:block; float:left;width:30px; line-height:27px; margin-left:2px;}
.tuge_outer_layer{ border:#CCCC 1px solid; display:block; height:153px; overflow-x:hidden; overflow-y:scroll; width:160px; position:absolute; top:0px; left:30px; z-index:1; box-shadow: 3px 3px 8px rgba(0, 0, 0, .1);}
.tuge_outer_layer_for_album{ border:#CCCC 1px solid; display:block; overflow-x:hidden; overflow-y:scroll; width:160px; min-height:99px; height:150px; position:absolute; top:0px; left:225px; z-index:1; box-shadow: 3px 3px 8px rgba(0, 0, 0, .1);}
#tuge_outer li.add_album{width:160px; height:55px; padding:6px 0; background-color:#E8E8E8; text-indent:0px;}
#album_title_name{width:120px; height:20px; line-height:20px; display:block; margin-left:12px;}
.tuge_outer_in input{line-height:20px; height:20px; width:125px;}
.btn_small{font-size:12px; line-height:20px; border:0; text-align:center; width:80px; display:block; margin-top:6px; color:#FFF; margin-left:53px; background-color:#3399FF;}
.share_imput{ font-size:12px; font-weight:normal; color:#999;}
/*网页分享文本域*/
.share_textarea{ width:380px; height:120px; border:#c7c2c2 1px double; margin-top:20px;	 margin-bottom:3px; z-index:1;}

.local_bt{width:80px; height:30px; border:0px; background-image: url(../images/button/select_bt.png); background-repeat:no-repeat; background-color:#FFF; position:absolute; bottom:-2px; left:240px;}
#upload_file_input{cursor:pointer; filter:Alpha(Opacity=0); opacity:0; width:80px; height:30px; position:absolute; left:240px; bottom:-2px;}
.share_input_add {width:420px; height:26px; float:left; padding:20px;}
.share_category {font-size:14px; font-weight:bold; padding-left:25px; color:#000;}
.share_button{ float:right; margin-right:40px; }
.share_category_lable { width: 200px; margin-left:8px; display:block; float:left;}
.share_category_add { font-size:14px; line-height:30px; font-weight:normal; color:#000000;}
.share_common_but{border:0;	background-color:#cdcdcd; font-weight:bold;	width:70px;	color:#fff;	margin:6px; line-height:26px; cursor:pointer; -moz-box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.2); -webkit-box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.2); box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.2); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#album_create_form ul{ width:320px; padding:20px 70px; }
#album_create_form ul li{ width:100px; }
	
/*增加图格样式*/
#share_category_layer{width:460px; height:280px;}

/*WEB多图抓取*/
#img_box{width:650px;}
#crawl_web{width:630px; overflow-x:scroll; overflow-y:hidden; clear:both; margin:0 10px; position:relative;}
#crawl_web ul{margin-bottom:3px; position:relative;}
#crawl_web ul li{width:130px; height:165px; margin-right:12px; float:left; position:relative;}
#crawl_web ul li span{width:130px; height:130px; display:block; float:left; border:1px #cdcdcd solid; text-align:center; cursor:pointer; position:relative;}
#crawl_web ul li span img{max-width:130px;}
#crawl_web ul li span dd{width:25px; height:20px; display:block; z-index:99; position:absolute; bottom:0; right:0;}
#crawl_web ul li input{width:130px; height:18px; margin:0px; padding:0px; line-height:18px; background-color:#eae7e6; border:1px solid #ccc; text-align:center; display:block; position:absolute; left:0; bottom:5px;}




.share_more{font-weight:normal; font-size:14px; color:#FF0000; line-height:30px; height:30px; float:right; margin-right:50px;}









/*登录 注册 弹出层*/

/*弹出层样式*/
#tupu_body .d-close{ diaplay:none; width:0px; height:0px; overflow:hidden;}
#tupu_body .d-inner{ border: 0px solid #cecece;}
#tupu_body .d-header{ diaplay:none; width:0px; height:0px; overflow:hidden;}
#tupu_body .d-content{padding:0px;}
#layer_top{ border-bottom:1px #cecece solid;	background-color:#f4f5f5;	margin-bottom:6px;	height:36px;}
.layer_title{ font-size:14px; font-weight:bold; color:#666666; line-height:36px; height:36px; float:left; padding-left:10px;}
.layer_close, .layer_close a:link, .layer_close a:hover, .layer_close a:visited{ font-size:26px; font-weight:normal; color:#666; height:36px; line-height:36px; width:40px; float:right; text-align:center;	border-left:1px #cecece solid; text-decoration:none;}
.layer_close a:hover{ background-color:#fff; color:#ff4b61;}
#share_top{	border-bottom:1px #cecece solid; background-color:#f4f5f5; height:36px;}
#edit_layer_system{color:#666; font-size:14px;}
.edit_layer{height:280px; width:460px;}
.delete_layer{height:200px; width:460px;}
.layer_word{ font-size:14px; color:#666; font-weight:normal;}
.layer_table{ padding-top:4px;}
.edit_album_content{width:400px; height:210px; padding:10px 30px 0px 30px;}
.edit_album_label{width:80px; height:24px; line-height:24px; display:block; float:left; margin-bottom:10px; clear:left; text-align:right;}
.edit_album_input{width:140px; height:24px; line-height:24px; display:block; float:left; margin-bottom:10px; border:1px solid #CCCCCC; margin-left:20px; margin-right:10px; padding-left:5px;}
.edit_album_error{width:140px; height:25px; line-height:25px; float:left; display:block; color:red; margin-bottom:10px;}
.edit_album_content ul{width:280px; padding:10px 20px 20px 20px;}
.edit_album_content ul li{width:140px;}
.edit_album_radio{margin-right:3px;}
.edit_album_button{width:400px; height:42px; float:left; text-align:center;}
/*详细页举报*/
.jubao_layer{width:460px; height:320px;}
.jubao_form{width:400px; margin-top:10px; margin-bottom:10px; height:22px; line-height:22px; border:1px solid #c7c2c2; color:#ccc; display:block; font-weight:bold; padding-left:5px;}
.jubao_content{width:400px; height:220px; padding:10px 30px;}
.jubao_subtitle{width:400px; height:44px; line-height:44px;  font-size:14px; color:#000000;	font-weight:bold; float:left;}
.jubao_content ul{width:350px; padding-left:50px;}
.jubao_content ul li{width:175px; height:24px; line-height:24px; display:block; font-size:14px;}
.jubao_content ul li input{margin-right:3px;}
.jubao_button{width:400px; text-align:center; height:42px; float:left;}
#message_box{width:400px; height:22px; line-height:22px; color:red; float:left; font-weight:bold;}
.avatar_setup{border: 10px solid #FFFFFF;}
/*.layer_cont{	padding:6px 10px;	height:180px;	width:400px;}
.layer_cont03{	padding:6px 0;	height:100px;	width:100px;}*/
a.sina:link, a.sina:visited{color:#006699; text-decoration:none; margin-left:5px;}
a.sina:hover{color:#f33176; text-decoration:underline;}

/*登录样式*/
.layer{	background-color:#fff; width:600px; height:240px; border:0px #b2b2b2 solid;}
.layer_cont_login{ padding:6px 10px; height:200px; margin-top:8px;}
.mem_login{	float:left;	width:280px; margin:5px 20px 10px 20px;}
/*登录提示*/
.login_error{ height:22px; width:160px;}
 /*邮箱密码*/
.login_error_mail{ text-align:right; font-size:14px; height:14px; padding-top:6px; padding-right:8px;}
.mem_form_login{ width:190px; height:22px; line-height:22px; border:1px solid #c7c2c2; padding-left:6px;}
.u_chk{ line-height: 26px; font-size: 12px; margin-left:6px; display:none;}
.error {line-height:26px; color:#B94A48;}/*错误提示*/
.lkl:link, .lkl:visited{color:#666; text-decoration:none;}
.lkl:hover{color:#F33176;}

 /*登录右侧*/
.popreg{ width:180px; float:left; height:180px; font-size:14px; color:#000; line-height:28px; padding:0 0 10px 40px; border-left:1px dashed #ddd;}

/*注册样式*/
.regi_container{ width:100%; padding:30px 0px 30px 0px; background-image: url(../images/bg_01.gif); background-repeat: repeat; margin-bottom:25px;}
#regi_container{width:970px; margin:0 auto; background-color:white;}
#regi_row_1{width:570px; float:left;}
#regi_row_2{width:400px; float:left;}
.regi_account{width:510px; padding:30px;}
.regi_account li{ padding-bottom:20px; }
.regi_account span{width:65px; display:block; float:left; height:28px; line-height:28px; font-size:16px; text-align:right; padding-right:10px; overflow:hidden;}
.regi_input{width:430px; float:left; line-height:26px; overflow:hidden;}
.regi_title{font-size:24px; font-weight:bold; padding:25px 25px 0px 25px;}
.regi_title02{	display:block;	width:370px;	padding:5px 8px;	font-size:24px;	font-weight:bold;	text-align:center;}
.regi_title_agree{	display:block;	width:100%;	text-align:center;	padding:18px 3px 10px 3px;	font-size:14px;	font-weight:bold;}
.regi_errer{ margin:6px; margin-top:0px; width:450px; height:14px; visibility:hidden; margin-left:15px; margin-bottom:6px; display:block; line-height:14px;	border: 1px solid #e9e9e9;	padding: 8px; color:red; background-color:#fcfbfb; text-align:center; }
.regi_errer_no{	margin:6px;	margin-top:0px;	width:450px; margin-left:15px; margin-bottom:6px; display:block; line-height:14px; border: 1px solid #fff; padding: 8px; color:red;	background-color:#fff;	text-align:center;}
.regi_list{	display:block;	width:550px;	padding:6px 3px 12px 3px;}
.regi_explain{line-height:30px; margin-left:80px; width:425px; height:30px; float:left; overflow:hidden;}
.regi_explain_after{ line-height:20px; margin:6px 0 0 96px; color:#CC0066;}
.share_textarea_but{border:0; background-color:#ff4b61; font-weight:bold; width:70px; color:#fff; margin:6px; line-height:26px; cursor:pointer; -moz-box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.2); -webkit-box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.2); box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.2); -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

#agree_validate{background-color:#ff4b61; font-weight:bold; width:70px; color:#fff; border:none; height:26px; float:left; margin-right:20px; margin-left:75px;}
.regi_agree{float:left; width:150px; height:26px; line-height:26px; padding-left:2px;}
.regi_agree a:link, .regi_agree a:visited{text-decoration:underline;color:#666;}
.regi_agree a:hover{color:#ff4b61; text-decoration:underline;}
.regi_noagree{ float:left; height:26px; line-height:26px;}
.regi_login{ width:250px; height:300px; margin:60px 0 0 10px; padding-left:27px; border-left:1px dashed #ddd;}
.login_regi_title{ font-size:16px; line-height:36px; padding-top:6px; color:#777; text-indent:6px; padding-top:8px; padding-bottom:2px;}
.regi_logo{	margin:1px;}
.share_label a.positive{color:#979797;}
/*登录 注册共用*/
.regi,.login, .regi a:link,.login a:link, .regi a:visited,.login a:visited{ height:40px; width:52px; line-height:40px; color:#777; text-decoration:none; text-align:center; border-left:#efefef 1px solid; border-rigth:#fff 1px double;}
.regi a:hover,.login a:hover{ height:40px; width:52px; line-height:40px; color:#008ed3; text-decoration:none; text-align:center; border-left:#efefef 1px double; border-rigth:#ffffff 1px double;}
.login_sub{	border:0; margin:8px 5px; background-color:#ff4b61; font-size:14px;	font-weight:bold; width:80px; height:28px; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px;}










/*详细页面样式*/  /*container*/
#container{width:970px; margin:0 auto;}
/*LEFT框 公用*/
.view_header img{ margin-left:6px;}
.buy_div img{ margin-right:6px;}
.view_left{ float:left; width:680px; height:auto; padding:15px; border:1px solid #dfdfdf; background-color:#fff; margin-bottom:30px;}
.view_header img, .buy_div img{ width:40px; height:40px; overflow:hidden; display:block; float:left;}
.view_header , .buy_div{font-size:14px; font-weight:normal; line-height:38px; height:38px; display:block; background-color:#f7f7f7; padding:8px 0; width:100%;}
.view_header a:link, .view_header a:visited{font-size:14px; text-decoration:none ;color:#FF4B61;}
.view_header a:hover{text-decoration:underline;}
.buy_div{ border: 1px solid #DEDEDE; width:99.6%; padding:12px 0;}
.buy_div .title{ margin-left:8px; color:#FF4B61; font-size:14px; font-weight:bold; float:left;}
.buy_div .price{ font-size:18px; color:#FF4B61;}
.buy_div a.do_buy_btn, .buy_div a.do_buy_btn:hover{ display:block; width:94px; height:31px; background:url(../images/like_merge2.png) no-repeat scroll -3px -8px; margin-right:10px; line-height:31px; text-align:center; font-size:16px; color:#fff; font-weight:bold; text-decoration:none; margin-top:2px;}

/*详细页主图部分*/
.view_main{width:680px; padding:20px 0px;}
.main_img_outer{width:422px; float:left;}
.main_img_outer02{ width:420px; height:480px;  border:1px solid #cdcdcd; text-align:center; overflow:hidden; float:left;}
.main_img_outer02 img{ max-width:380px;}
.tb_thumb {width:422px; margin-top:10px; float:left;}
.tb_thumb_outer, .tb_thumb_outer02{float:left; position:relative; margin:0 6px 0 0; overflow:hidden; background-color:#C30008; padding:2px; height:65px; width:65px; border:0px #cdcdcd solid; display:block;}
.tb_thumb span{background-color:#FFFFFF; bottom:0; color:#444444; display:block; left:0; line-height:24px; filter:alpha(opacity=45); opacity:0.5; position:absolute; text-align:center; width:69px; }
.tb_thumb_outer02{background:#fff;}
.thumb_outer_layer{ z-index:20px; position:absolute; bottom:-2px; left:0px; background-color:#FFF; color:#666; line-height:24px; height:24px; text-align:center; width:65px;}
.tb_thumb li div img{ width:65px; height:65px;}
.tb_thumb_outer div a{ line-height:1; display:block; display: table-cell; vertical-align: middle; text-align: center;}
.tb_thumb_outer02 div{ border:0px #cdcdcd solid; overflow:hidden;}
.view_main img{overflow:hidden;}

/*分享 右侧*/
.intro{ float:right;width:240px;height:260px;}
.intro .jiathis{ border-bottom:1px solid #dfdfdf; line-height:26px; height:26px;}
/*.detail_fans_four{/*margin-top:8px; padding-top:6px; display:block;}*/
.intro p{ padding:20px 0px;font-size:14px;font-weight:bolder; color:#515151;}
.intro .to_buy{ width:175px; height:45px; text-align:center; background:url(../images/tupu_works.png) no-repeat; margin-top:10px; color:#fff; font-size:16px; font-weight:bold;}
.intro .to_buy a{ text-decoration:none; font-size:16px; color:#fff; float:left;display:block; height:45px; line-height:45px; width:70px;}
.intro .to_buy span{ float:left; display:block; height:45px; line-height:45px; width:85px;font-size:16px;color:#ffffff;}
.do_like_share_btn {padding:20px 0px; text-align:center;}
#do_like_share_btn .do_btn{ width:74px; height:45px; background:url(../images/like_merge2.png) no-repeat scroll -8px -71px;	font-size:12px;	color:#f42e6a; font-weight:bolder; cursor:pointer; float:left;}
.do_btn .share_icon, .do_btn .like_icon{ float:left; display:block; width:23px; height:15px; margin:7px 0 4px 0;}
.do_btn .share_icon{ background:url(../images/like_merge2.png) no-repeat scroll -8px -50px;}
.do_btn .like_icon{	background:url(../images/like_merge2.png) no-repeat scroll -34px -50px;}
.ifo_com_h{ height:22px; line-height:22px; text-align:center;}

/*详细页面评论部分*/
.detail_row_l_ifo{ width:660px; padding:2px 8px 10px 8px; border: 1px solid #dedede; background: #f7f7f7; margin-bottom:10px; margin-top:3px;}
.system_list{ display:block; width:650px; border-bottom:#ececec 1px dashed; padding:10px 3px;}
/*.system_list ol img{ width:61px; height:22px; overflow:hidden; display:block;}*/
.system_list_ifo{width:600px; clear:left;}
.comment{ border:#cccccc 1px solid; height:50px; width:650px; padding:2px 0 0 3px;}
.comment_bt{float:right;padding-top:10px;}
.time{padding-left:5px; color:#a8a8a8;}
.system_list_delete, a.system_list_delete:link, a.system_list_delete:visited, a.system_list_delete:hover{ padding:0 1px; color:#a8a8a8;	text-decoration:none;}
a.system_list_delete:hover{	color:#FF4B61;}
.commom_ifo{ width:590px; padding-left:10px; float:left;}

/*评论输入文字*/
.detail_face_enter{ line-height:23px; padding-top:3px; color:#000000;}

/*详细页面右列*/
#detail_row_r{ width:250px;	float:right; margin-bottom:10px;}

/*详细页面右列个人信息*/
#detail_ifo{ padding-top:10px; height:160px; padding-left:10px; margin-bottom:10px; background-color:#FFF; border: 1px solid #dedede; }
.tail_l{ width:100px; text-align:center; float:left; }
.tail_img{ width:100px; height:100px; margin:0 8px 8px 0; }
.tail_r{ width:128px; text-align:left; float:left; margin-left:8px;}
.tail_r p{ line-height:26px; }
.tail_r p span{ color:#ff4b61; margin-right:8px;}
.tail_r h6{ margin-bottom:6px; font-size:14px;}
.tail_r h6 img{ margin:5px 0 0 5px;}
button{ background-color:#FFFFFF;}

.page_pre{ width:50px; height:87px; position:fixed; top:220px; right:-2px;}
.page_next{ width:50px; height:87px; position:fixed; left:0px;top:220px; }


/*详细页面专辑*/
#album_wid{	width:250px; margin-bottom:10px;}
.album_outer_wid{ width:250px; border: 1px solid #dedede; background: #FFFFFF; padding-bottom:10px;}

/*详细页面图格分布间距*/
.detail_layout_spacing{ margin-right:1px; margin-bottom:1px; width:76px; height:76px; overflow:hidden;}

.detail_layout{	padding:0 10px;	width:96%;}
 /*
.detail_row_r_ing{   系统信息页面模块
	width:250px;
	border: 1px solid #dedede;
	background: #FFFFFF;
	margin-bottom:10px;
}
*/
.show_error_class{
width:100%;
line-height:24px;
padding-left:240px;
color:#081;
font-size:12px;
display:none;
font-weight:normal;
}

/* 用户协议样式*/
#container_agree{ width:970px; margin:0 auto; border: 1px solid #ebebeb; background-color:#FFFFFF;}
.container_agree_ifo{ width:700px; margin:0 auto;}
.container_agree_ifo p, .container_agree_ifo_br{ line-height:24px; margin-bottom:14px;}
.container_agree_ifo h4{ line-height:24px; font-size:14px; font-weight:bold; margin-bottom:14px;}









